@import 'variables';
@import 'mixins';

@import 'header';
@import 'footer';
@import 'typography';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// GLOBAL

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
  font-family: 'PT Sans', sans-serif;
}

p {
  margin: 0 0 10px 0;
}

.container {
  max-width: 1280px;
  margin: auto;

  @include bp-md() {
    padding: 20px;
  }
}

main {
  width: 100%;
  // display: flex;

  @include bp-md() {
    width: calc(100% - 228px);
    margin-left: auto;
  }

  img {
    max-width: 100%;
    width: 100%;
  }

  .container {
    padding: 14px;
    @include bp-md() {
      max-width: 80%;
    }
  }
}

.img-container {
  position: relative;
}

.flag {
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, .75);
  max-width: 75%;
  top: 0;
  transform: translateY(100%);
  padding: 20px;

  a {
    text-decoration: none;
    color: #333;
  }
}

section {
  text-align: center;

  h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    margin-top: 0;
    color: #666;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  
  .img-container,
  .grid-sizer {
    width: 50%;
    @include bp-md() {
      width: 33.33%;
    }
    
    div {
      padding: 4px;
    }

    img {
      max-width: 100%;
      display: block;
      min-height: 80px;
    }
  }
}

.lightbox-wrapper {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;

  section {
    flex: 1;
    height: 100%;
  }
}

.lightbox-close {
  border: 1px solid #000;
  outline: none;
  background: #fff;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  margin: 20px;
  padding: 4px 10px 4px 0;

  svg {
    height: 30px;
  }
}

.image-container {
  width: 100%;
  height: calc(100% - 64px);
}

.content {
  position: absolute;
  background-color: rgba(255, 255, 255, .75);
  padding: 0 0 20px 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  transform: translateY(calc(100% - 42px));
  transition: transform 150ms ease-in-out;

  &.js-opened {
    transform: translateY(0);

    .more-info-btn {
      span:nth-child(1) {
        display: none;
      }

      span:nth-child(2) {
        display: inline;
      }
    }
  }

  .more-info-btn {
    width: 100%;
    border: 0;
    outline: none;
    line-height: 40px;
    text-transform: uppercase;
    background: none;
    font-weight: bold;
    font-size: 12px;

    span:nth-child(2) {
      display: none;
    }
  }

  p {
    margin: 0 20px;
  }
}